.imagen-central {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1622050644890-f4a3f807c2c6?ixid=MnwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format%2Ccompress&fit=crop&w=1000&h=1000');
    background-size: 100% 100%;
    background-position: top;
    width: 100%;
    height: 879px;
    flex-wrap: wrap;

    .title_text {
        font-size: 50px;
        letter-spacing: 9px;
        font-family: "Questrial", sans-serif;
    }

    .subtitle_text {
        text-align: center;
        font-size: 20px;
        font-family: "Questrial", sans-serif;
        font-weight: lighter;
        line-height: 1.3;
        letter-spacing: 2px;
    }

    .buton-we {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    .button_barra {
        padding: 20px 56px;
        background-color: $whiteColor;
        color: $pinkColor;
        font-family: "Questrial", sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 920px){
    .imagen-central {
        height: 560px;

        .title_text {
            font-size: 20px;
            text-align: center;
        }

        .subtitle_text {
            font-size: 9px;
        }
    }
}