// Colors
$redColor: #ff0000 !default;
$primaryColor: #181265 !default;
$whiteColor: #fff !default;
$pinkColor: #ff5574 !default;
$greyColor: #838383 !default;

// Text Styles
$capitalizeText: capitalize !default;